{% extends "base.html" %}

{% block content %}
<div class="container">

{# This could be done better with django crispy_forms.  #}
    <form class="form-inline">
       {% for field in form %}
          <label for="{{ field.auto_id }}">{{ field.label }}</label>
          {{ field }}
       {% endfor %}
       <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <h2>Items</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>SKU</th>
            <th>UPC</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Name</th>
            <th>Active</th>
            <th>Available</th>
            <th>Vintage</th>
            <th>Created</th>
            <th>Size</th>
            <th>Category</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
       {% for item in items %}
       <tr onclick="window.location='{% url 'products:item-detail' pk=item.sku %}'">
            <td>{{ item.sku }}</td>
            <td>{{ item.upc }}</td>
            <td class="align-right">${{ item.price }}</td>
            <td>{{ item.stock_qty }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.active }}</td>
            <td>{{ item.available }}</td>
            <td>{{ item.vintage }}</td>
            <td>{{ item.created|date:"m/d/Y" }}</td>
            <td>{{ item.size_value }}</td>
            <td>{{ item.cat }}</td>
            <td>{{ item.type_num }}</td>
       </tr>
       {% endfor %}
    </table>
</div>


{% endblock content %}
